/* Header container */
.home-container-header {
    display: flex;
    background-color: rgb(250, 250, 250);
    justify-content: space-around;
    padding: 30px;
    border: 2px solid #e9e0ff;
    border-radius: 5px;
    margin: 10px;
}

/* Logout button */
.logout-btn {
    background-color: #d0bffa;
    padding: 3px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: transform ease 0.3s;
}

.logout-btn:hover {
    transform: scale(1.5);
}

.home-body-container {
    display: flex;
    justify-content: space-evenly;
}

.home-body-container > h4 {
    text-align: center;
    color: #7d53dd; 
}

.flavors-container {
    background-color: rgb(250, 250, 250);
    border: 2px solid #e9e0ff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    max-width: min-content;
}

.flavors-container > h4 {
    text-align: center;
    color: #7d53dd;
}

.search-flavors-container {
    background-color: rgb(250, 250, 250);
    border: 2px solid #e9e0ff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    max-height: min-content;
}

.search-flavors-container > h4 {
    text-align: center;
    color: #7d53dd;
}

/* Toast message */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #7d53dd;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    animation: fade-in-out 3s forwards;
}

/* Close button for toast */
.toast-close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

.toast-close-btn:hover {
    color: #ffdddd;
}

/* Toast animation for smooth entry and exit */
@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
