.flavors-table-container {
    overflow-x: auto;
    margin: 1em 0;
    max-width: 100%;
    min-height: 250px; /* Consistent minimum height */
}

.flavors-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    min-width: 600px; /* Prevent excessive collapsing */
}

.flavors-table th,
.flavors-table td {
    padding: 0.75em;
    border: 1px solid #ddd;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.flavors-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.flavors-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1em;
}

.pagination-controls button {
    padding: 0.5em 1em;
    background-color: #d0bffa;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.pagination-controls button:hover {
    background-color: #9c76fc;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls span {
    font-size: 1rem;
}
